.sidebar {
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--primary-text);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 0 10px -2px rgba(0, 0, 0, 0.3);
}

.title {
  color: var(--button-text);
  font-weight: bold;
}

.navList {
  list-style: none;
  padding: 0;
}

.navList li {
  margin: 0.5rem 0;
}

.navList li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--button-hover-bg);
}

.navList li a:hover {
  text-decoration: none;
  font-weight: bold;
  background-color: var(--secondary-bg);
  color: var(--primary-text);
}

.creator {
  font-style: italic;
  color: #7e7f83;
  font-size: small;
}
